.drop_wrapper {
  width: 100%;
  height: 100%;
  padding: 7px 4px;
  overflow-y: scroll;
  transition: all 0.2s ease-in-out;
  
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 7px;

  /* background-color: #fff; */
}

.drop_wrapper::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  background-color: rgb(17, 17, 17);
  opacity: 0;
  /* display: none; */
}

.drop_wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(38, 38, 38);
  border-radius: 5px;
  opacity: 0;
}

.drop_wrapper::-webkit-scrollbar:hover {
  opacity: 1;
}