.board_canvas {
  width: 100%;
  border: 2px solid red;
  height: calc(100vh - 60px);
  padding: 30px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}