.form_modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.708);
  padding: 70px 0;
}

.form {
  width: 500px;
  padding: 50px 30px;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.form_hd {
  width: 100%;
  text-align: center;
}

.form_hd h3 {
  font-size: 26px;
}

.form_inputs {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

.form_group {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
}

.form_group > label {
  font-size: 15px;
  color: rgb(61, 61, 61);
}

.form_group > input, 
.form_selects > select {
  width: 100%;
  padding: 12px 10px;
  font-size: 15px;
  border: 1px solid rgb(179, 179, 179);
  outline: 0;
  border-radius: 5px;
}

#select_div {
  width: 100%;
  /* border: 2px solid rebeccapurple; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.form_selects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.submit_task {
  width: 100%;
  padding: 17px 25px;
  font-size: 18px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}