.board {
  height: 100vh;
  background: rgb(26, 26, 26);
  width: 85%;
  padding: 30px 25px 15px 25px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
}