.project_title {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  transition: all 0.2s linear;
  padding: 0 10px;
}

.project_title:hover {
  border: 1px dashed gray;
}

.project_title h3 {
  font-size: 26px;
  color: whitesmoke;
  font-weight: 550;
}