.app {
  width: 100%;
  height: 100vh;
}

:root {
  /* Custom Application Theme Colours... */
  --main-white: #fff;
  --main-dirtywhite: whitesmoke;
  
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
